@charset "utf-8";
/*css reset*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, span, input, textarea { margin:0; padding:0; }
li, ol { list-style:none; }
i, em { font-style:normal; }
a { text-decoration:none; }
html { font-size: 10px; -webkit-text-size-adjust:none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
@media screen and (min-width:360px) { html { font-size: 11.25px; } }
@media screen and (min-width:480px) { html { font-size:    15px; } }
@media screen and (min-width:560px) { html { font-size:  17.5px; } }
@media screen and (min-width:640px) { html { font-size:    20px; } }
/* -- 整体布局 -- */
html { min-width: 320px; }
body { font-family: "Microsoft Ya Hei", Helvetica, STHeiTi, sans-serif; }
.over{overflow: hidden;}
.fl { float: left; }
.fr { float: right; }
.fs{font-size: 14px;}
.cb{clear: both;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w40{width:40%;}
.w48{width:48%;}
.w50{width:50%;}
.w70{width:70%;}
.w60{width:60%;}
.w80{width:80%;}
.w100{width:100%;}
.m-auto{margin:0 auto;}
.m-t10{margin-top:10px;}
.m-t20{margin-top:10px;}
.m-b10{margin-bottom:10px;}
.m-b15{margin-bottom:15px;}
.m-b20{margin-bottom:20px;}
.m-b30{margin-bottom:30px;}
.p-p-0{padding:0;}
.p-l-0-5{padding-left:0.5rem;}
.p-l-0-8{padding-left:0.8rem;}
.p-l-1{padding-left:1rem;}
.p-l-2{padding-left:2rem;}
.p-l-3{padding-left:3rem;}
.p-l-4{padding-left:4rem;}
.p-r-1{padding-right:1rem;}
.p-r-2{padding-right:2rem;}
.p-r-3{padding-right:3rem;}
.m-l-half{margin-left:0.5rem;}
.m-r-1{margin-right:1rem;}
.m-r-2{margin-right:2rem;}
.m-r-3{margin-right:3rem;}
.p-r{position:relative;}
.p-a{position:absolute;}
.p-top10{padding-top:10px;}
.p-top20{padding-top:20px;}
.p-top30{padding-top:30px;}
.p-top40{padding-top:40px;}
.p-top50{padding-top:50px;}
.b_block{display:block;}
.t-cen{text-align:center;}
.t-lef{text-align:left;}
.t-rig{text-align:right;}
.c-f{color: #fff;}
.c-78{color: #787878;}
.bg-white{background:#fff;}
.bg-blue{background:#2896e8;}
.bg-yellow{background:#f7941d;}


